<template>
  <b-container fluid class="footer">
    <client-only placeholder="loading...">
      <cookie-law
        theme="dark-lime"
        buttonText="Αποδοχή"
        :buttonDecline="true"
        buttonDeclineText="Απόρριψη"
      >
        <div slot="message">
          <span
            >Κείμενο για αποδοχή ή απόρριψη cookies.
            <a
              target="_blank"
              href="http://www.kep.gov.gr/portal/page/portal/kep/personaldata"
              style="color:#fff;text-decoration: underline;"
            >
              Ρυθμίσεις Cookies
            </a>
          </span>
        </div>
      </cookie-law>
    </client-only>
    <b-container class="d-lg-none">
      <b-row class="pt-20 "
        ><b-col class="text-center">
          <ul class="list-inline">
            <li class="list-inline-item ">
              <a
                href="http://www.kep.gov.gr/portal/page/portal/kep/termsofuse"
                target="_blank"
                >Όροι Χρήσης</a
              >
            </li>
            <li class="list-inline-item ">
              <a
                href="http://www.kep.gov.gr/portal/page/portal/kep/personaldata"
                >Προσωπικά Δεδομένα</a
              >
            </li>
          </ul>
        </b-col></b-row
      >
      <b-row class="pt-2 "
        ><b-col class="text-center">
          <img src="~/static/elliniki_dimokratia.png" /> </b-col
      ></b-row>
      <b-row class="pt-2 pb-3 "
        ><b-col class="text-center">
          <span
            >© Copyright 2020 - Ministry of Digital Governance Hellenic
            Republic</span
          ></b-col
        ></b-row
      >
    </b-container>
    <b-container class="d-none d-lg-block">
      <b-row class="pt-20 ">
        <b-col lg="3" xl="3">
          <ul class="list-inline">
            <li class="list-inline-item ">
              <a
                href="http://www.kep.gov.gr/portal/page/portal/kep/termsofuse"
                target="_blank"
                >Όροι Χρήσης</a
              >
            </li>
            <li class="list-inline-item ">
              <a
                target="_blank"
                href="http://www.kep.gov.gr/portal/page/portal/kep/personaldata"
                >Προσωπικά Δεδομένα</a
              >
            </li>
          </ul>
        </b-col>
        <b-col lg="6" xl="6" class="text-center copywrite">
          <span
            >© Copyright 2020 - Ministry of Digital Governance Hellenic
            Republic</span
          >
        </b-col>
        <b-col class="text-right correctposition">
          <a href="https://government.gov.gr/" target="_blank">
            <img src="~/static/elliniki_dimokratia.png" />
          </a>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>
<script>
import CookieLaw from 'vue-cookie-law'
export default {
  components: {
    CookieLaw
  }
}
</script>
<style>
.footer {
  font-size: 11px;
  border-top: 2px solid #25335d;
}

.footer ul {
  margin-bottom: 0;
}
.footer li {
  display: inline;
}
.footer li a {
  color: #26335f !important;
  font-size: 11px;
  line-height: 11px;
}
.correctposition {
  margin-top: -10px;
  margin-bottom: 10px;
}
.copywrite {
  color: #26335f;
  font-weight: bold;
}
</style>
