<template>
  <div>
    <ul>
      <li v-for="keppa in keppas" :key="keppa.id">
        <span>
          {{ keppa.id }}
        </span>
        <span>
          {{ keppa.title }}
        </span>
        <img src="~/static/mappin.png" />
        <span>
          {{ keppa.address }}
        </span>
        <img src="~/static/arrow.png" />
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: ['keppas']
}
</script>
