<template>
  <div class="timerEst">
    <svg
      shape-rendering="geometricPrecision"
      :style="{ width: size + 'px', height: size + 'px' }"
    >
      <g :transform="svgTransform">
        <circle
          class="background"
          cx="50%"
          cy="50%"
          :r="radius"
          :style="{ strokeWidth: thickness }"
        ></circle>
        <circle
          class="fill"
          cx="50%"
          cy="50%"
          :r="radius"
          :stroke-dasharray="fillDash"
          :transform="fillTransform"
          :style="{ strokeWidth: thickness }"
        ></circle>
        <circle
          class="knob"
          :cx="knobx + 'px'"
          :cy="knoby + 'px'"
          :r="knobRadius"
        ></circle>
      </g>
    </svg>
    <span class="textTimer">ΕΚΤΙΜΩΜΕΝΗ ΔΙΑΡΚΕΙΑ ΡΑΝΤΕΒΟΥ</span>
    <span v-if="Number(timeToShow)" class="estimateTimer"
      >{{ timeToShow }}'</span
    >
    <span v-else class="estimateTimer">n/a</span>
  </div>
</template>
<script>
export default {
  props: [
    'timeToShow',
    // The radius of the fill and background circles
    'radius',
    // The value that is displayed on the component
    'value',
    // A boolean value that controls whether the component is
    // displayed counter-clockwise (true) or clockwise (false)
    'cc',
    // The thickness of the stroke on the fill and background circles
    'thickness',
    // The radius of the knob at the end of the fill stroke
    'knobRadius'
  ],
  computed: {
    cf() {
      // The circumference of the fill and background circles
      return 2 * Math.PI * this.radius
    },
    center() {
      // The center of the component
      return this.size / 2
    },
    fillDash() {
      // This is what controls the length of the stroke on the fill circle
      // See https://developer.mozilla.org/en/docs/Web/SVG/Attribute/stroke-dasharray
      return `${this.value * this.cf}, ${this.cf}`
    },
    size() {
      // The size of the bounds of the component
      return this.radius * 2 + Math.max(this.thickness, this.knobRadius * 2)
    },
    svgTransform() {
      // Rotate the SVG by 270 degrees around the center
      // to put the start at the top
      return `rotate(270 ${this.center} ${this.center})`
    },
    fillTransform() {
      // Flip the fill circle horizontally
      // if the counter-clockwise setting is enabled
      return this.cc ? `scale(1,-1) translate(0,-${this.size})` : ''
    },
    knobAngle() {
      // The angle of the knob in radians
      // The angle is reversed (1 - value)
      // if the counter-clockwise setting is enabled
      return (this.cc ? 1 - this.value : this.value) * 360.0 * (Math.PI / 180)
    },
    knobx() {
      // The x coordinate of the knob circle
      return this.radius * Math.cos(this.knobAngle) + this.center
    },
    knoby() {
      // The y coordinate of the knob circle
      return this.radius * Math.sin(this.knobAngle) + this.center
    }
  }
}
</script>
<style>
.background {
  fill: none;
  stroke: #f3f3f3;
}
.fill {
  fill: none;
  stroke: #38a2cf;
}
.knob {
  fill: #38a2cf;
}
.timerEst {
  position: relative;
}
.estimateTimer,
.textTimer {
  position: absolute;
}
.textTimer {
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  right: 30%;
  width: 143px;
  top: 30%;
}
.estimateTimer {
  color: #333333;
  font-size: 55px;
  font-weight: bold;
  line-height: 56px;
  top: 48%;
  right: 38%;
}
@media only screen and (max-device-width: 440px) {
  .estimateTimer {
    right: 30%;
  }
  .textTimer {
    right: 17%;
  }
}
</style>
