<template>
  <div>
    <b-container fluid>
      <b-container class="header">
        <b-row class="text-center pt-25 pb-25">
          <b-col>
            <nuxt-link to="/">
              <img src="~static/logo.png" />
            </nuxt-link>
          </b-col>
        </b-row>
      </b-container>
      <hr />
      <b-container id="wrap" fluid class="wrapper mb-3">
        <nuxt />
      </b-container>
    </b-container>

    <Footer class=" mt-auto" />
  </div>
</template>
<script>
import Footer from '../components/Footer'
export default {
  components: {
    Footer
  }
}
</script>
<style>
html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  height: 70px;
}
.pt-25 {
  padding-top: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}

::-webkit-input-placeholder {
  color: #333333;
  font-size: 15px;
  line-height: 16px;
}

:-ms-input-placeholder {
  color: #333333;
  font-size: 15px;
  line-height: 16px;
}

::placeholder {
  color: #333333;
  font-size: 15px;
  line-height: 16px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.ipiresiesButtonsBack {
  border-radius: 4px !important;
  background-color: #cccccd !important;
  width: 100%;
  border-color: transparent !important;
  font-size: 15px;
}
.buttonsSuccess {
  border-radius: 4px !important;
  background-color: #26335f !important;
  width: 100%;
  border-color: transparent !important;
  font-size: 15px;
}
#wrap {
  /*height: 35vw;*/
}
.vs__selected-options {
  flex-wrap: nowrap !important;
}
.overFlowedBox {
  max-height: 330px;
  overflow: hidden;
  scroll-behavior: auto;
  overflow-y: auto;
  padding-right: 10px;
}

.Cookie.Cookie--bottom {
  background: #044487;
  padding: 1.25em 4em 1.25em 1.25em;
}
.Cookie.Cookie--bottom.Cookie--dark-lime .Cookie__buttons .Cookie__button {
  background: #00aeef;
}

.footer .Cookie--dark-lime .Cookie__declineButton {
  background: #003677;
  color: #fff;
}
.footer .Cookie--dark-lime .Cookie__declineButton:hover {
  background: #003677;
}
.vs__dropdown-menu,
.vs__dropdown-menu li {
  white-space: normal !important;
}
.vs__dropdown-option {
  white-space: normal !important;
}
.vs__selected-options {
  white-space: normal !important;
}
@media only screen and (max-device-width: 767px) {
  .Cookie.Cookie--bottom {
    background: #044487;
    padding: 1.25em 1.25em 1.25em 1.25em;
  }
  .Cookie.Cookie--bottom.Cookie--dark-lime > * {
    margin: 5px 0;
  }
}
</style>
