<template>
  <b-container id="main" class="pt-5 mainPage">
    <b-row>
      <b-col offset-md="1" md="5">
        <p class="font-weight-bold">Επιλέξτε την περιοχή εξυπηρέτησης</p>
        <div>
          <label>ΕΠΙΛΕΞΤΕ ΝΟΜΟ</label>
          <v-select
            v-model="nomos"
            :options="nomoi"
            autocomplete
            placeholder="Παρακαλώ επιλέξτε"
          ></v-select>
        </div>
        <div :class="nomos === '' ? 'disabledState' : ''">
          <label>ΕΠΙΛΕΞΤΕ ΔΗΜΟ</label>
          <v-select
            v-model="dimos"
            :options="selectDimoi"
            placeholder="Παρακαλώ επιλέξτε"
            @search="getDimous"
            @input="askforKeppas"
          ></v-select>
        </div>
      </b-col>
      <b-col
        v-if="dimos === ''"
        md="5"
        class="text-center pt-5 pb-5 pt-md-0 pd-lg-0 pt-xl-0"
      >
        <img src="~static/illustration_nosearch.png" />
        <p class="infoText">Δεν εχετε επιλέξει περιοχή</p></b-col
      >

      <b-col
        v-else
        class="pt-5 pb-5 pt-md-0 pd-lg-0 pt-xl-0 pb-md-0 pb-lg-0 pb-xl-0"
      >
        <p class="font-weight-bold">Διαθέσιμα ΚΕΠ στην περιοχή που επιλέξατε</p>
        <div class="overFlowedBox">
          <ul class="list-unstyled">
            <li
              v-for="keppa in keppas"
              :key="keppa.id"
              class="keppalink"
              @click="selectKeppa(keppa)"
            >
              <div class="s18 highlightedLink  pt-2">
                <p class="keppaid">ΚΕΠ {{ keppa.code }}</p>
                <p class="keppaTitle">
                  {{ keppa.name }}
                </p>
                <div class="keppaAddress">
                  <img src="~/static/mappin.png" />
                  <span>
                    {{ keppa.address }}
                  </span>
                </div>
                <div class="keppaAddress">
                  <img src="~/static/phone.png" />
                  <span>
                    {{ keppa.phone_number }}
                  </span>
                </div>
              </div>
              <img class="verticalImage" src="~/static/arrow.png" />
            </li>
          </ul>
        </div>
      </b-col>
      <b-col md="1"> </b-col>
    </b-row>
  </b-container>
</template>

<script>
import vSelect from '~/plugins/VueSelect'
export default {
  components: {
    vSelect
  },
  // async asyncData({ $axios, error, store }) {
  //   const results = await $axios.$get(`/api/v1/states`).catch((e) => {
  //     error({ statusCode: 404, message: 'Post not found' })
  //   })
  //   const nomoi = results.map((item) => item.name)
  //   return { nomoi, results }
  // },
  mounted() {
    this.$axios
      .get(`${process.env.API_URL}/states`)
      .then((result) => {
        this.results = result.data
        this.nomoi = this.results.map((item) => item.name)
      })
      .catch((err) => {
        console.log(err)
      })
  },
  data: () => ({
    nomos: '',
    nomoi: [],
    results: [],
    dimoi: [],
    selectDimoi: [],
    dimos: '',
    keppas: []
  }),
  watch: {
    nomos(val) {
      this.getDimous(val)
    }
  },
  methods: {
    getDimous(name) {
      this.selectDimoi = []
      this.dimos = ''
      const foundNomos = this.results.find((item) => item.name === name)

      this.$axios
        .get(`${process.env.API_URL}/municipalities/`, {
          params: {
            state_id: foundNomos.id
          }
        })
        .then((results) => {
          this.dimoi = results.data
          this.selectDimoi = results.data.map((item) => item.name)
        })
        .catch((err) => {
          return console.log(err)
        })
    },
    selectKeppa(val) {
      this.$store.commit('addSelectedKep', val)
      this.$router.push({ path: '/ipiresies' })
    },
    askforKeppas() {
      if (this.dimos !== '') {
        const foundDimos = this.dimoi.find((item) => item.name === this.dimos)

        this.$axios
          .get(`${process.env.API_URL}/stores/`, {
            params: {
              municipality_id: foundDimos.id
            }
          })
          .then((results) => {
            this.keppas = results.data
          })
          .catch((err) => {
            return console.log(err)
          })
      }
    }
  }
}
</script>

<style>
.mainPage label {
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  line-height: 8.53px;
}
.mainPage .infoText {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  padding-top: 35px;
}
.disabledState {
  opacity: 0.4;
  cursor: none;
  pointer-events: none;
}
.keppalink:first-child {
  border-top: 1px solid #d5d5d6;
}
.keppalink {
  position: relative;
  padding: 17px 30px;
  border-bottom: 1px solid #d5d5d6;
}
.keppalink:hover {
  background-color: #f5f5f6;
  cursor: pointer;
}
.keppalink p {
  margin-bottom: 0;
}
.verticalImage {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}
.keppalink .keppaid {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #38a2cf;
  position: absolute;
  top: 13px;
}
.keppalink .keppaTitle {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  line-height: 1.2;
}

.keppalink .keppaAddress {
  color: #333333;
  font-size: 13px;
  line-height: 15px;
}
.vs__clear {
  display: none;
}
.v-select {
  font-size: 15px;
}
</style>
