<template>
  <b-container id="main" class="mainPage">
    <b-row>
      <b-col offset-lg="3" lg="6" cols="12" class="text-center pb-5">
        <div>
          <p class="font-weight-bold">Επιλέξτε επιθυμητή υπηρεσία</p>
          <p class="descriptionService">
            Αν επιθυμείτε μια συγκεκριμένη υπηρεσία, επιλέξτε την ώστε να
            υπολογιστεί η εκτιμώμενη διάρκεια του ραντεβού. Στην περίπτωση που
            δεν βρίσκετε την υπηρεσία που επιθυμείτε επιλέξτε
            <strong><i>“ΑΛΛΗ”</i></strong>
          </p>
          <div class="text-left">
            <label>ΕΠΙΛΕΞΤΕ ΥΠΗΡΕΣΙΑ</label>
            <v-select
              v-model="selectedIpiresia"
              :options="selectIpiresies"
              placeholder="Παρακαλώ επιλέξτε"
              @input="askforTime"
            ></v-select>
          </div>
        </div>
        <div class="pt-3 w350">
          <Timer
            id="meter"
            :radius="radius"
            :thickness="thickness"
            :value="value"
            :cc="cc"
            :timeToShow="permille"
            :knob-radius="knobRadius"
          ></Timer>
        </div>
        <b-row class="pt-4">
          <b-col>
            <nuxt-link to="/"
              ><b-button squared class="ipiresiesButtonsBack"
                >ΠΙΣΩ</b-button
              ></nuxt-link
            >
          </b-col>
          <b-col>
            <nuxt-link v-if="selectedIpiresia !== null" to="/timeslots">
              <b-button squared class="buttonsSuccess">ΣΥΝΕΧΕΙΑ </b-button>
            </nuxt-link>
            <b-button v-else disabled squared class="buttonsSuccess"
              >ΣΥΝΕΧΕΙΑ
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Timer from '~/components/Timer'
import vSelect from '~/plugins/VueSelect'
export default {
  components: {
    vSelect,
    Timer
  },
  asyncData({ $axios, store, redirect, error }) {
    // TODO later
    if (store.getters.getKeppa === '') {
      redirect('/')
    }
    // const results = await $axios
    //   .$get(`${process.env.API_URL}/services`)
    //   .catch((e) => {
    //     error({ statusCode: 404, message: 'Post not found' })
    //   })
    // const selectIpiresies = results.map((item) => item.name)
    // return { selectIpiresies, results }
  },
  mounted() {
    this.$axios
      .get(`${process.env.API_URL}/services`)
      .then((result) => {
        this.results = result.data
        this.selectIpiresies = this.results.map((item) => item.name)
      })
      .catch((err) => {
        console.log(err)
      })
  },
  data: () => ({
    results: [],
    selectIpiresies: [],
    selectedIpiresia: null,
    permille: 0,
    radius: 100,
    thickness: 20,
    knobRadius: 0,
    cc: false
  }),
  computed: {
    percent() {
      return this.permille / 10.0
    },
    value() {
      return this.permille / 60
    }
  },
  watch: {
    selectedIpiresia() {
      this.askforTime()
    }
  },
  methods: {
    askforTime() {
      const ipir = this.results.find(
        (item) => item.name === this.selectedIpiresia
      )
      if (ipir) {
        this.permille = ipir.duration
        this.$store.commit('addSelectedIpiresia', ipir)
      } else {
        this.permille = 0
      }
    }
  }
}
</script>
<style>
.descriptionService {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.w350 {
  max-width: 350px;
  margin: 0 auto;
}
@media only screen and (max-device-width: 440px) {
  .w350 {
    max-width: 220px;
    margin: 0 auto;
  }
}
</style>
