<template>
  <b-container>
    <b-row>
      <b-col offset-lg="3" lg="6" cols="12">
        <p class="ypovoliHeading">Επισκόπηση Στοιχείων προς Υποβολή</p>
        <p class="ypovoliDescrText text-center">
          Ελεγξτε αν όλα τα στοιχεία είναι σωστά πρωτού ολοκληρωθεί η διαδικασία
          του ραντεβού.
        </p>
        <div class="bgYpovoli">
          <ul class="list-unstyled">
            <li class="keppalink">
              <p class="ypovoliTitle">ΚΕΠ ΕΞΥΠΗΡΕΤΗΣΗΣ</p>
              <div class="s18 highlightedLink  pt-3">
                <span class="keppaid"> ΚΕΠ {{ kep.code }} </span>
                <span class="keppaTitle">
                  {{ kep.name }}
                </span>
                <div class="keppaAddress">
                  <img src="~/static/mappin.png" />
                  <span>
                    {{ kep.address }}
                  </span>
                </div>
              </div>
            </li>
            <li class="keppalink">
              <p class="ypovoliTitle">ΗΜΕΡΑ & ΩΡΑ ΡΑΝΤΕΒΟΥ</p>
              <div class="s18 highlightedLink  pt-2">
                <span class="keppaTitle">
                  {{ $moment(date).format('dddd, Do MMMM YYYY') }} στις
                  {{ slot }}
                </span>
              </div>
            </li>
            <li class="keppalink">
              <p class="ypovoliTitle">ΠΡΟΣΩΠΙΚΑ ΣΤΟΙΧΕΙΑ</p>
              <div class="s18 highlightedLink  pt-2">
                <span class="keppaTitle">
                  {{ userName }} {{ userSurname }} </span
                ><br />
                <span class="keppaTitle"> {{ userUserid }} </span>
                <br />
                <span class="keppaTitle"> {{ userMobile }} </span>
                <br />
                <span class="keppaTitle"> {{ userEmail }} </span>
              </div>
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>
    <b-row class="pt-4 pb-4 pb-lg-0 pb-xl-0">
      <b-col lg="4" offset-lg="4">
        <b-row>
          <b-col>
            <nuxt-link to="/ypovoli"
              ><b-button squared class="ipiresiesButtonsBack"
                >ΠΙΣΩ</b-button
              ></nuxt-link
            >
          </b-col>
          <b-col>
            <b-button
              squared
              class="buttonsSuccess lastStep"
              @click="sendConfirm"
              >ΥΠΟΒΟΛΗ
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  asyncData({ redirect, store }) {
    if (store.getters.getKeppa === '') {
      redirect('/')
    }
  },
  computed: {
    kep() {
      return this.$store.state.selectedKep
    },
    date() {
      return this.$store.state.selectedDate
    },
    ipiresia() {
      return this.$store.state.selectedIpiresia
    },
    slot() {
      return this.$store.state.selectedSlot
    },
    userName() {
      return this.$store.state.name
    },
    userSurname() {
      return this.$store.state.surname
    },
    userUserid() {
      return this.$store.state.userID
    },
    userMobile() {
      return this.$store.state.mobile
    },
    userEmail() {
      return this.$store.state.email
    }
  },
  methods: {
    sendConfirm() {
      this.$axios
        .post(`${process.env.API_URL}/stores/${this.kep.id}/availability/`, {
          service_id: this.ipiresia.id,
          duration: this.ipiresia.duration,
          start_time: `${this.date} ${this.slot}`,
          email: this.userEmail,
          first_name: this.userName,
          last_name: this.userSurname,
          id_number: this.userUserid,
          phone_number: this.userMobile
        })
        .then(() => {
          this.$router.push({ path: '/thankyou' })
        })
        .catch((err) => {
          this.$router.push({
            path: '/timeslots',
            query: { status: 'error', date: this.date }
          })
          console.log(err)
        })
    }
  }
}
</script>
<style>
.ypovoliHeading {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.ypovoliDescrText {
  color: #fb0d0d;
  font-size: 14px !important;
  line-height: 18px;
}

.keppalink:first-child {
  border-top: 1px solid #d5d5d6;
}
.keppalink {
  position: relative;
  padding: 17px 30px;
  border-bottom: 1px solid #d5d5d6;
}

.keppalink p {
  margin-bottom: 0;
}

.keppalink .keppaid {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #38a2cf;
  position: absolute;
  top: 45px !important;
}
.keppalink .keppaTitle {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}

.keppalink .keppaAddress {
  color: #333333;
  font-size: 13px;
  line-height: 15px;
}
.bgYpovoli {
  background-color: #f5f5f6;
}
.ypovoliTitle {
  color: #333333;
  font-size: 16px;
  line-height: 17px;
}
.lastStep {
  background-color: #80b441 !important;
}
</style>
