<template>
  <b-container>
    <b-row class="pt-5 pb-5">
      <b-col class="text-center" lg="4" offset-lg="4">
        <img src="~/static/illustration.png" />
        <p class="thtitle pt-3 pt-xl-5 pt-lg-5">Ευχαριστούμε</p>
        <p class="thdescription">
          Η διαδικασία ολοκληρώθηκε με επιτυχία. Σας έχει σταλεί ένα email με τα
          στοιχεία του ραντεβού στην διεύθυνση που έχετε δηλώσει
        </p>
        <nuxt-link to="/"
          ><b-button squared class="buttonsSuccess"
            >ΑΡΧΙΚΗ
          </b-button></nuxt-link
        >
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  asyncData({ redirect, store }) {
    if (store.getters.getKeppa === '') {
      redirect('/')
    }
  }
}
</script>
<style>
.thtitle {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.thdescription {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
</style>
