<template>
  <b-container class="pt-3">
    <b-row v-if="errorBox">
      <b-col offset-lg="3" lg="6" cols="12">
        <p class="errorHeader text-center">Αλλαγή ώρας</p>
        <p class="errorDiscription">
          Η ώρα που επιλέξατε δεν είναι πλέον διαθέσιμη. Παρακαλώ επιλέξτε
          διαφορετική ώρα ή μέρα
        </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col offset-lg="2" lg="4" cols="12">
        <div class="text-center text-xl-left text-lg-left">
          <b-calendar
            v-model="dateValue"
            :date-disabled-fn="dateDisabled"
            locale="el-GR"
            :min="min"
            :max="max"
            @input="saveDate"
          ></b-calendar>
        </div>
      </b-col>

      <b-col
        v-if="dateValue !== null"
        offset-lg="1"
        lg="4"
        class="pt-5 pb-5 pt-lg-0 pt-xl-0 text-lg-left text-xl-left text-center"
      >
        <p class="font-weight-bold">Επιλέξτε ώρα</p>
        <div class="overFlowedBox">
          <ul class="list-unstyled">
            <li
              v-for="(slot, i) in slots"
              :key="i"
              :class="correctClasses(slot)"
              @click="selectSlot(slot)"
            >
              {{ slot }}
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>

    <b-row class="pt-4 pb-4">
      <b-col lg="4" offset-lg="4" cols="12">
        <b-row>
          <b-col>
            <nuxt-link to="/ipiresies"
              ><b-button squared class="ipiresiesButtonsBack"
                >ΠΙΣΩ</b-button
              ></nuxt-link
            >
          </b-col>
          <b-col>
            <nuxt-link v-if="selectedSlot !== null" to="/ypovoli">
              <b-button squared class="buttonsSuccess">ΣΥΝΕΧΕΙΑ </b-button>
            </nuxt-link>
            <b-button v-else disabled squared class="buttonsSuccess"
              >ΣΥΝΕΧΕΙΑ
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  asyncData({ $moment, redirect, store }) {
    if (store.getters.getKeppa === '') {
      redirect('/')
    }
    const initialDate = $moment()
      .add(1, 'days')
      .format('YYYY-MM-DD')
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    // 15th two months prior
    const minDate = new Date(today)
    minDate.setDate(now.getDate() + 1)
    // minDate.setDate(15)
    // 15th in two months
    const maxDate = new Date(today)
    maxDate.setMonth(maxDate.getMonth() + 2)
    maxDate.setDate(1)
    return { initialDate, min: minDate, max: maxDate }
  },
  data() {
    return {
      errorBox: false,
      dateValue: null,
      slots: [],
      selectedSlot: null
    }
  },
  computed: {
    kep() {
      return this.$store.state.selectedKep
    }
  },
  created() {
    if (this.$route.query.date) {
      this.errorBox = true
      this.dateValue = this.$route.params.date
      this.saveDate()
    }
  },
  methods: {
    correctClasses(slot) {
      if (slot === this.selectedSlot) {
        return 'slotClass selectedSlot '
      } else {
        return 'slotClass'
      }
    },
    saveDate() {
      this.$store.commit('addSelectedDate', this.dateValue)
      this.$axios
        .get(`${process.env.API_URL}/stores/${this.kep.id}/availability/`, {
          params: {
            date: this.dateValue
          }
        })
        .then((results) => {
          this.slots = results.data
        })
        .catch((er) => console.log(er))
    },
    selectSlot(value) {
      this.selectedSlot = value
      this.$store.commit('addSelectedSlot', value)
    },
    dateDisabled(ymd, date) {
      // Disable weekends (Sunday = `0`, Saturday = `6`) and
      // disable days that fall on the 13th of the month
      const weekday = date.getDay()
      // eslint-disable-next-line no-unused-vars
      const day = date.getDate()

      // Return `true` if the date should be disabled
      return weekday === 0 || weekday === 6
    }
  }
}
</script>
<style>
.slotClass {
  border: 1px solid #26335f;
  border-radius: 4px;
  width: 100%;
  color: #26335f;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  padding: 15px 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.nonselectable {
  opacity: 0.4;
  pointer-events: none;
}
.selectedSlot {
  background-color: #26335f;
  color: #ffffff;
}

.errorHeader {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.errorDiscription {
  color: #fb0d0d;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
}
</style>
