<template>
  <b-container>
    <b-form @submit="onSubmit">
      <b-row>
        <b-col offset-lg="3" lg="6" cols="12">
          <p class="ypovoliHeading">Υποβολή Προσωπικών Στοιχείων</p>
          <p class="ypovoliDescr">
            Συμπληρώστε τα στοιχεία σας στην παρακάτω φόρμα. Το τηλέφωνο που θα
            υποβάλετε θα χρησιμοποιηθεί σε περίπτωση που θα χρειαστει ειδοποίηση
            απο πλευρας μας. <b>Όλα τα πεδία είναι υποχρεωτικά</b>
          </p>

          <b-row>
            <b-col>
              <label class="ypovoliLabel" for="input-live">ΟΝΟΜΑ*</label>
              <b-form-input
                id="input-live"
                v-model="name"
                placeholder=""
                trim
                required
                class="ypovoliInput"
              ></b-form-input>
            </b-col>
            <b-col>
              <label class="ypovoliLabel" for="input-surname">ΕΠΙΘΕΤΟ*</label>
              <b-form-input
                id="input-surname"
                v-model="surname"
                placeholder=""
                trim
                required
                class="ypovoliInput"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <label class="ypovoliLabel" for="input-id"
                >ΑΡΙΘΜΟΣ ΔΕΛΤΙΟΥ ΤΑΥΤΟΤΗΤΑΣ*</label
              >
              <b-form-input
                id="input-id"
                v-model="userID"
                placeholder=""
                trim
                required
                class="ypovoliInput"
              ></b-form-input>
            </b-col>
            <b-col>
              <label class="ypovoliLabel" for="input-mobile"
                >ΚΙΝΗΤΟ ΤΗΛΕΦΩΝΟ ΕΠΙΚΟΙΝΩΝΙΑΣ*</label
              >
              <b-form-input
                id="input-live"
                v-model="mobile"
                placeholder=""
                trim
                required
                class="ypovoliInput"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <label class="ypovoliLabel" for="input-email">Ε-MAIL *</label>
              <b-form-input
                id="input-email"
                v-model="email"
                placeholder=""
                trim
                type="email"
                required
                class="ypovoliInput"
              ></b-form-input>
            </b-col>
            <b-col>
              <b-form-checkbox
                id="checkbox-1"
                v-model="status"
                name="checkbox-1"
                value="accepted"
                required
                unchecked-value="not_accepted"
                class="ypovoliCheckbox"
              >
                Συναινώ στην ψηφιακή επικοινωνία για ό,τι αφορά το ραντεβού μου
                μέσω e-mail ή κλήσης στο τηλέφωνο που έχω δηλώσει
              </b-form-checkbox>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-form-checkbox
        id="checkbox-1"
        v-model="checked"
        name="checkbox-1"
        value="accepted"
        unchecked-value="not_accepted"
        class="ypovoliCheckboxFirst"
      >
      </b-form-checkbox>
      <b-row class="pt-4 pb-4">
        <b-col lg="4" offset-lg="4" cols="12">
          <b-row>
            <b-col>
              <nuxt-link to="/timeslots"
                ><b-button squared class="ipiresiesButtonsBack"
                  >ΠΙΣΩ</b-button
                ></nuxt-link
              >
            </b-col>
            <b-col>
              <b-button
                v-if="status === 'accepted'"
                type="submit"
                squared
                class="buttonsSuccess"
                >ΕΠΙΣΚΟΠΗΣΗ
              </b-button>

              <b-button v-else disabled squared class="buttonsSuccess"
                >ΕΠΙΣΚΟΠΗΣΗ
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>
<script>
export default {
  asyncData({ redirect, store }) {
    if (store.getters.getKeppa === '') {
      redirect('/')
    }
  },
  data: () => ({
    name: null,
    surname: null,
    email: null,
    mobile: null,
    userID: null,
    checked: 'not_accepted',
    status: 'not_accepted'
  }),
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      if (this.checked !== 'accepted') {
        this.$store.commit('addUserInfo', {
          name: this.name,
          surname: this.surname,
          email: this.email,
          mobile: this.mobile,
          userID: this.userID
        })
        this.$router.push('/proepiskopisi')
      }
    }
  }
}
</script>
<style>
.ypovoliHeading {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.ypovoliDescr {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}
.ypovoliLabel {
  font-size: 13px;
  font-weight: bold;
}
.ypovoliInput {
  border-radius: 4px;
  font-size: 15px;
  background-color: #f3f3f3;
}
.ypovoliCheckbox {
  color: #333333;
  font-size: 12px;
  line-height: 14px;
  padding: 30px 9px 20px 28px;
}
.custom-checkbox::before {
  background-color: #f3f3f3;
}
.ypovoliCheckboxFirst {
  display: none;
}
</style>
